.inputNumber {
  width: 176px;
  font-size: 0;
  display: flex;
  line-height: 0;
  min-height: 54px;
  user-select: none;
  position: relative;
  border-radius: 8px;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  justify-content: center;
  border: 1px solid #e1e1e1;

  .input {
    outline: none;
    padding: 0 2px;
    font-size: 28px;
    user-select: none;
    text-align: center;
  }

  .decrease {
    border-right: 1px solid #e1e1e1;
  }

  .increase {
    border-left: 1px solid #e1e1e1;
  }

  .decrease,
  .increase {
    height: 100%;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;

    image {
      width: 48px;
      height: 48px;
    }

    &.disabled {
      image {
        opacity: 0.12;
      }
    }
  }
}
