.inputNumber {
  width: 256px;
  font-size: 0;
  display: flex;
  line-height: 0;
  user-select: none;
  border-radius: 8px;
  box-sizing: border-box;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #e1e1e1;

  .input {
    flex: 1 auto;
    outline: none;
    font-size: 28px;
    user-select: none;
    text-align: center;
    align-self: center;
  }

  .decrease,
  .increase {
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;

    image {
      width: 48px;
      height: 48px;
    }

    &.disabled {
      image {
        opacity: 0.12;
      }
    }
  }

  .decrease {
    border-right: 1px solid #e1e1e1;
  }

  .increase {
    border-left: 1px solid #e1e1e1;
  }
}
